body.dark-theme img {
    filter: brightness(.8) contrast(1.2);
  }

body {
    margin: 0;
    display: flex;
    background-color: rgba(0, 33, 71, 0.879);
}

p {
    margin: 0;
}

#device_title {
    font-family: 'Source Code Pro', serif;
    text-align: center;
    color: white;
    margin-left: 5px;
    font-size: 18px;
    font-weight: 700;
}

#screen {
    border: 2px solid black;
    margin: 0 10px 10px 10px;
    background-color: rgb(215, 215, 215);
}

#display {
    text-align: end;
    margin: 10px 0 10px 0;
    font-size: 30px;
}

p #cursor {
        height: 20px;
        width: 4px;
        margin-right: 3px;
        background: black;
        opacity: 0;
        display: inline-block;
        animation: blink 1s linear infinite alternate;
      }
      
      @keyframes blink {
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

#device_frame {
    width: 300px;
    height: 450px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 3px solid black;
    border-radius: 30px;
    background-color: rgb(99, 99, 99);
}

.device_buttons {
    margin: auto;
    padding: 5px 5px 5px 5px;
    text-align: center;
}

.buttons_misc {
    margin: 5px;
    padding: 5px;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.601);
    color: rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
    background-color: #8c8c8c;
    border: none;
    box-shadow: 0 9px #777777;
    font-size: 14px;
}

.buttons_misc:hover {background-color: #d7d7d7}

.buttons_misc:active {
  box-shadow: 0 5px #777777;
  transform: translateY(4px);
}

.buttons_operations {
    margin: 5px;
    padding: 5px;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.601);
    color: rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
    background-color: #c3c3c3;
    border: none;
    box-shadow: 0 9px #777777;
    font-size: 14px;
}

.buttons_operations:hover {background-color: #d7d7d7}

.buttons_operations:active {
  box-shadow: 0 5px #777777;
  transform: translateY(4px);
}

.buttons_del {
    margin: 5px;
    padding: 5px;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
    background-color: #c3c3c3;
    border: none;
    box-shadow: 0 9px #777777;
    font-size: 14px;
}

.buttons_del:hover {background-color: #d7d7d7}

.buttons_del:active {
  box-shadow: 0 5px #777777;
  transform: translateY(4px);
}

.button_equal {
    margin: 5px;
    padding: 5px;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
    background-color: #c3c3c3;
    border: none;
    box-shadow: 0 9px #777777;
    font-size: 14px;
}

.button_equal:hover {background-color: #d7d7d7}

.button_equal:active {
  box-shadow: 0 5px #777777;
  transform: translateY(4px);
}
